table {
  width: 100vw;
  text-align: left;
  border-collapse: collapse;
}
th {
  background-color: rgb(141, 141, 141);
  color: black;
}
tr:nth-child(odd) {
  background-color: rgb(241, 241, 241);
}
label {
  display: flex;
  position: relative;
  width: 10%;
}

input,
select,
#descr {
  width: 25%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 15%;
  padding: 18px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
